@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Ubuntu&display=swap');
* {
    margin: 0%;
    padding: 0%;
}
body{

background-size: cover ; 

}
  
  .image{
    justify-self: center;
    background-color: rgb(243, 116, 43);
  margin-bottom: 0.4in;
    
  }
  
  .button {
    float: left;
    padding: 8px;
    background-color: rgb(192, 255, 247);
    cursor: pointer;
    border-radius: 3px;
  }
  
  .container{
    margin-left: 0in;
    border-radius: 46in;;
  }
  .row {
    float: right;
    width: 27%;
    padding: 8 8px;
    margin: 18px;
  }
  
  
  .content {
   
    padding: 18px;
    text-align: left;
    background-color: rgb(0, 255, 34)
  } 
  .heading{
    box-shadow: pink;
    padding: 15px;
    text-align: center;
    background-color: rgb(165, 153, 42);
    color: rgb(245, 245, 245);
  } 
  
  .e_mail{
    
    padding: 17px;
    text-align: center;
    background-color: brown;
    color: whitesmoke;
  }
  
  .topone {
    font-family: cursive;
    color: rgb(17, 0, 255);
    
    margin-right: 5in; 
    
      }
